<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="b350" class="my.bike.info.details.Bullet350">
	</bean>
	<bean id="b500" class="my.bike.info.details.Bullet500">
	</bean>
	<bean id="c350" class="my.bike.info.details.Classic350">
	</bean>
	<bean id="c500" class="my.bike.info.details.Classic500">
	</bean>


</beans>





